:root {
    --white: #ffffff;
    --black: #000000;
}

/* MOBILE FIRST CODE */

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: darkslategrey;
}

header {
    background-color: #596D64;
}

header img {
    font-size: 0.5em;
    margin: 0.5em;
}

nav {
    background-color: #E4E5DF;
}

nav section .nav-menu-items {
    font-size: 0.5rem;
}

/* main {
    background-color: chocolate;
} */

main h1 {
    margin: 0;
    padding: 0;
}

main section h2 {
    margin-top: 0.5em;
    margin-left: 0.5em;
}

main section {
    display: inline-block;
    background-color: #ffffff;
    margin: 1em;
    border-radius: 5px;
}

main h1:first-child {
    display: flex;
    justify-content: center;
}

main img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-height: 500px;
}

main section div {
    display: flex;
    align-items: center;
    margin: 0;
}

footer {
    background-color: #585858;
    padding: 2rem 0;
}

footer p {
    margin: 0;
    text-align: center;
    color: rgb(255, 255, 255);
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin: 0 1rem;
}

footer ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer ul li a:hover {
    color: #333;
}

/* TABLET VIEW (480px <) */
@media (min-width: 30em) {
    main {
        background-color: chartreuse;
    }
}


/* lAPTOP SCREENS (769px <) */
@media (min-width: 48.0625em) {
    main {
        background-color: hotpink;
    }

    main img {
        max-height: 500px;
    }
}


/* DESKTOP SCREENS (GROTE SCHERMEN 1025px <) */
@media (min-width: 64.0625em) {
    main {
        background-color: darkslategrey;
    }

    main section {
        max-width: 30%;
    }

    main img {
        max-height: 720px;
    }
}