html {
    --white: #ffffff;
    --black: #000000;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: blue;
}

main {
    background-color: chocolate;
}

main h1 :first-child {
    display: flex;
    justify-content: center;
}

main img {
    max-width: 100%;
}

footer {
    background-color: deeppink;
}